<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Страница блога</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="/blog">Блог</a></li>
                <li><a href="/contacts">Контакты</a></li>
                <li><a href="/about">О нас</a></li>
            </ul>
        </nav>
    </header>
    <h1>Добро пожаловать на страницу блога</h1>
    <p>Здесь будут размещены наши посты.</p>
</body>
</html>
