<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="/blog">Блог</a></li>
                <li><a href="/contacts">Контакты</a></li>
                <li><a href="/about">О нас</a></li>
            </ul>
        </nav>
    </header>
    <h1>Добро пожаловать на главную страницу</h1>
    <p>Это основная страница нашего сайта на Flask.</p>
    <h2>Текущая дата и время:</h2>
    <p>{{ current_time }}</p>
</body>
</html>
